Create database TMDT5
go
USE [TMDT5]
GO
/****** Object:  Table [dbo].[laptops]    Script Date: 10/25/2020 11:01:21 PM ******/
CREATE TABLE [dbo].[laptops](
	[ID] [int] NOT NULL PRIMARY KEY, 
	[Company] [nvarchar](50) NULL,
	[Product] [nvarchar](50) NULL,
	[TypeName] [nvarchar](50) NULL,
	[Inches] [float] NULL,
	[ScreenResolution] [nvarchar](50) NULL,
	[Cpu] [nvarchar](50) NULL,
	[Gen] [nvarchar](50) NULL,
	[Speed] [float] NULL,
	[Ram] [int] NULL,
	[Memory] [nvarchar](50) NULL,
	[Gpu] [nvarchar](50) NULL,
	[OpSys] [nvarchar](50) NULL,
	[Weight] [float] NULL,
	[Price_euros] [float] NULL,
) 
GO
INSERT [dbo].[laptops] ([ID], [Company], [Product], [TypeName], [Inches], [ScreenResolution], [Cpu], [Gen], [Speed], [Ram], [Memory], [Gpu], [OpSys], [Weight], [Price_euros]) VALUES (1, N'Apple', N'MacBook Pro', N'Ultrabook', 13.3, N'IPS Panel Retina Display 2560x1600', N'Intel Core i5 ', NULL, 2.3, 8, N'128GB SSD', N'Intel Iris Plus Graphics 640', N'macOS', 1.37, 1339.69)
INSERT [dbo].[laptops] ([ID], [Company], [Product], [TypeName], [Inches], [ScreenResolution], [Cpu], [Gen], [Speed], [Ram], [Memory], [Gpu], [OpSys], [Weight], [Price_euros]) VALUES (2, N'Apple', N'Macbook Air', N'Ultrabook', 13.3, N'1440x900', N'Intel Core i5 ', NULL, 1.8, 8, N'128GB Flash Storage', N'Intel HD Graphics 6000', N'macOS', 1.34, 898.94)
INSERT [dbo].[laptops] ([ID], [Company], [Product], [TypeName], [Inches], [ScreenResolution], [Cpu], [Gen], [Speed], [Ram], [Memory], [Gpu], [OpSys], [Weight], [Price_euros]) VALUES (3, N'HP', N'250 G6', N'Notebook', 15.6, N'Full HD 1920x1080', N'Intel Core i5 ', N'7200U ', 2.5, 8, N'256GB SSD', N'Intel HD Graphics 620', N'No OS', 1.86, 575)
GO


select Inches from laptops where Inches = 5.5
